<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px" gutterSize="50px">
    <mat-grid-tile *ngFor="let card of cards; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
      <div *ngIf="i === 0">
        <app-table></app-table>
      </div>
      <mat-card class="dashboard-card mat-elevation-z1" *ngIf="i > 0">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
        <mat-card-footer>
          <small>Card footer</small>
          <mat-card-actions align="end">
            <button mat-button>Ok!</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
